// loading animation from https://css-loaders.com/

.loader {
      width: 30px;
      aspect-ratio: 1;
      --c: no-repeat
            linear-gradient(
                  currentColor calc(50% - 5px),
                  transparent 0 calc(50% + 5px),
                  currentColor 0
            );
      background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
      background-size: 15% calc(200% + 20px);
      animation: l4 1s infinite linear;
}

@keyframes l4 {
      33% {
            background-position: 0% 50%, 50% 100%, 100% 100%;
      }
      50% {
            background-position: 0% 0%, 50% 50%, 100% 100%;
      }
      66% {
            background-position: 0% 0%, 50% 0%, 100% 50%;
      }
      100% {
            background-position: 0% 0%, 50% 0%, 100% 0%;
      }
}
